BODY {
  font-family: verdana;
  margin: 6x 20px;
}
H1 {
  text-align: center;
  color: #ff00aa;
}
#room {
  margin: auto;
  width: 520px;
}

#North,
#West,
#East,
#South {
  width: 140px;
  height: 160px;
  background-color: #eeeeee;
  border: 1px solid #ff00aa;
  overflow: auto;
}

#North,
#South {
  margin: auto;
  clear: both;
}

#West {
  float: left;
}
#East {
  float: right;
}

#player {
  margin: 0px 12x;
  width: 236px;
  text-align: center;
  float: left;
}

BUTTON {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-color: #ff00aa;
  color: #aa00aa;
  border-radius: 6px;
}

button:hover {
  background-color: #aa00aa;
  color: #ffffff;
}

#reset {
  display: block;
  margin: 0px auto 20px auto;
}

BODY {
  background: repeating-linear-gradient(
      67.5deg,
      hsla(200, 0%, 99%, 0.05) 0px,
      hsla(200, 0%, 99%, 0.05) 1px,
      transparent 1px,
      transparent 54px
    ),
    repeating-linear-gradient(
      157.5deg,
      hsla(200, 0%, 99%, 0.05) 0px,
      hsla(200, 0%, 99%, 0.05) 1px,
      transparent 1px,
      transparent 54px
    ),
    repeating-linear-gradient(
      67.5deg,
      hsla(200, 0%, 99%, 0.05) 0px,
      hsla(200, 0%, 99%, 0.05) 1px,
      transparent 1px,
      transparent 25px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(200, 0%, 99%, 0.05) 0px,
      hsla(200, 0%, 99%, 0.05) 1px,
      transparent 1px,
      transparent 25px
    ),
    repeating-linear-gradient(
      67.5deg,
      hsla(200, 0%, 99%, 0.05) 0px,
      hsla(200, 0%, 99%, 0.05) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      157.5deg,
      hsla(200, 0%, 99%, 0.05) 0px,
      hsla(200, 0%, 99%, 0.05) 1px,
      transparent 1px,
      transparent 12px
    ),
    linear-gradient(90deg, hsl(259, 49%, 41%), hsl(259, 49%, 41%));
}
#North,
#West,
#East,
#South {
  background: repeating-linear-gradient(
      135deg,
      rgba(86, 86, 86, 0.02) 0px,
      rgba(86, 86, 86, 0.02) 22px,
      rgba(202, 202, 202, 0.02) 22px,
      rgba(202, 202, 202, 0.02) 67px,
      rgba(247, 247, 247, 0.02) 67px,
      rgba(247, 247, 247, 0.02) 113px,
      rgba(135, 135, 135, 0.02) 113px,
      rgba(135, 135, 135, 0.02) 132px,
      rgba(157, 157, 157, 0.02) 132px,
      rgba(157, 157, 157, 0.02) 153px,
      rgba(53, 53, 53, 0.02) 153px,
      rgba(53, 53, 53, 0.02) 171px,
      rgba(17, 17, 17, 0.02) 171px,
      rgba(17, 17, 17, 0.02) 181px,
      rgba(179, 179, 179, 0.02) 181px,
      rgba(179, 179, 179, 0.02) 220px
    ),
    repeating-linear-gradient(
      135deg,
      rgba(58, 58, 58, 0.02) 0px,
      rgba(58, 58, 58, 0.02) 41px,
      rgba(198, 198, 198, 0.02) 41px,
      rgba(198, 198, 198, 0.02) 60px,
      rgba(176, 176, 176, 0.02) 60px,
      rgba(176, 176, 176, 0.02) 99px,
      rgba(173, 173, 173, 0.02) 99px,
      rgba(173, 173, 173, 0.02) 146px,
      rgba(164, 164, 164, 0.02) 146px,
      rgba(164, 164, 164, 0.02) 167px,
      rgba(179, 179, 179, 0.02) 167px,
      rgba(179, 179, 179, 0.02) 205px,
      rgba(228, 228, 228, 0.02) 205px,
      rgba(228, 228, 228, 0.02) 230px,
      rgba(23, 23, 23, 0.02) 230px,
      rgba(23, 23, 23, 0.02) 241px
    ),
    repeating-linear-gradient(
      135deg,
      rgba(190, 190, 190, 0.02) 0px,
      rgba(190, 190, 190, 0.02) 15px,
      rgba(74, 74, 74, 0.02) 15px,
      rgba(74, 74, 74, 0.02) 45px,
      rgba(98, 98, 98, 0.02) 45px,
      rgba(98, 98, 98, 0.02) 71px,
      rgba(43, 43, 43, 0.02) 71px,
      rgba(43, 43, 43, 0.02) 95px,
      rgba(131, 131, 131, 0.02) 95px,
      rgba(131, 131, 131, 0.02) 118px,
      rgba(21, 21, 21, 0.02) 118px,
      rgba(21, 21, 21, 0.02) 130px,
      rgba(77, 77, 77, 0.02) 130px,
      rgba(77, 77, 77, 0.02) 167px,
      rgba(231, 231, 231, 0.02) 167px,
      rgba(231, 231, 231, 0.02) 189px
    ),
    linear-gradient(90deg, rgb(251, 251, 251), rgb(250, 250, 250));
}
